img{
    width: 100%;
}
h2{
    text-align: center;
}
.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 70%;
    row-gap: 20px;
    column-gap: 20px;
    
   
}
.Photos{
    width: 300px;
    
}
.basic{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}